DB_HOST=cluster0.ummn2dy.mongodb.net
DB_PORT=27017
DB_NAME=quantumledger
DB_USER=quantumledger
DB_PASS=9Je3htyrTtncyKeZ
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=nmajufavour16@gmail.com
SMTP_PASS=extbhuwknojgbswp
TO_EMAIL=nmajufavour16@gmail.com